.carousel-item img{
	height: 450px;
	object-fit: cover;
}

.city-image {
	height: 1450px;
	object-fit: cover;
}

.gallery-img {
        cursor: pointer;
        transition: transform 0.3s ease;
        object-fit: cover;
        height: 250px;
        width: 100%;
      }
      .gallery-img:hover {
        transform: scale(1.05);
        z-index: 1;
      }
      .modal-content {
        background-color: rgba(0, 0, 0, 0.8);
        border: none;
      }
      #lightbox-image {
        max-height: 80vh;
        object-fit: contain;
      }
      .lightbox-caption {
        color: #ffc107; /* Bootstrap Warning Color */
        font-weight: bold;
        font-size: 1.2rem;
      }